.{
    box-sizing: border-box;
}


.back-img{
    
    background-image: url("https://media.timeout.com/images/105513032/630/472/image.jpg");
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    position: relative;         
      
}




body{ 
    margin: 0;
    width: 100%;
    height: auto;
    font-family: "Crimson Text";
    font-size: 22px;
}


.heading{
    font-family: 'Noto Serif', serif;
    font-size: 50px;
    text-align: center;
    margin: 0;
    color: rgb(65, 17, 17);
}


.bar{
    margin-top: 6px;
    margin-bottom: 6px;
    padding:10px;
    width: 95%;
    border-radius: 5px;
    border: none;
}
.bar2{
    margin-top: 9px;
    margin-bottom: 8px;
    padding: 010px;
    width: 98.5%;
    border-radius: 5px;
}

.bar3{
    margin-top: 12px;
    padding: 10px;
    width: 99.3%;
    border-radius: 5px;
    border: none;
    background-color: rgb(2, 159, 250);
}

.option-margin{
    margin-bottom: -25px;
}
.option-margin2{
    margin-bottom: -5px;
}

#description{
    font-family: 'Crimson Text', ;
    text-align: center;
    font-size: 30px;
    color: rgb(65,17,17);
}



#form{
    margin:10px 300px 0 300px;
    border-radius: 10px;
    padding: 30px;

    background-color: rgba(92, 53, 53, 0.472);
}

.label-font{
    font-family:   -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(251, 248, 248);


}

.comment{
    width: 98.5%;
}

@media (max-width: 800px)
{
   
    #form{
        margin: 10px 0 0 0;
    }
}